/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* limitazione del body per 
simulare un dispositivo mobile */

body {
    width: 100%;
    border: 2px solid black;
    max-width: 512px;
}

/* creazione della classe titolo per bloccare il titolo e centrartne il testo */
.titolo {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 20px;
    position: fixed;
    top: 0; 
    background-color: white;
    width: 100%;
    max-width: 508px;
}

/*modifica del main per evitare che il testo finisca
sosotto header e footer. */
main {
    width: 70%;
    margin: 120px auto 80px auto; 
}

/* creata la classe articolo per creane le caselle degli articoli  */
.articolo {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 30px;
}

/*aggiunta di margin-bottom al titolo dell'articolo per distanziarlo dal testo.*/
.titolo-articolo {
    margin-bottom: 10px;
}